<!--footer-->

<div class="ui inverted section divider"></div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">

	<img src="../images/pdis-logo.png" class="ui centered mini image">
	<div class="ui horizontal inverted small divided link list">
	  <a class="item" target="_blank" href="https://pdis.nat.gov.tw">聯絡我們 Contact Us</a>
	  <a class="item" target="_blank" href="http://host02.iiiedu.org.tw/socialinnovationlab/">社會創新實驗中心</a>
	</div>
  </div>
</div>
