<!--footer-->

<div class="ui inverted section divider"></div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">


	<img src="../images/pdis-logo.png" class="ui centered mini image">
	<div class="ui horizontal inverted small divided link list">
	  <a class="item" target="_blank" href="https://jk.pdis.tw">{{site.data.i18n[lang].ContactUs}}</a>
	  <a class="item" target="_blank" href="http://socialinnovationlab.iiiedu.org.tw/">{{site.data.i18n[lang].SIL}}</a>
	</div>
  </div>
</div>