<!-- mid -->




<script>
	$(function () {

		BindData();
	});


	function BindData() {
		var objEvents = [];
		$('#loading').css("display", "block")
		//兩天後~四個月
		var Wednesdays = getWednesday(4, new Date(moment().add(2, 'days')).getDate());
		//必須與取得預約事件的結束天數一致
		var bookingEndDay = new Date(moment().add(90, 'days'));
		Wednesdays = Wednesdays.filter(function(value, index, arr){ return value <= bookingEndDay;});		
		let lastDate = Wednesdays.pop();
		//取得行程
		let url = "https://aucal.pdis.nat.gov.tw/getReserve";
		var settings = {
			"crossDomain": true,
			"url": url,
			"method": "GET",
		}

		$.ajax(settings).done(function (response) {

			var objBooking = (response);
			var objEvent = {

			};

			var eventTimes = [];

			objBooking.reservations.forEach(function(reservation) {

			
				objEvent = {
					date: moment(reservation.bufferedStartDate).format("YYYY-MM-DD"),
					title: reservation.title=="已預約"?'{{site.data.i18n[lang].reserved}}':reservation.title,
					start: moment.utc(reservation.bufferedStartDate).utcOffset(480),
					end: moment.utc(reservation.bufferedEndDate).utcOffset(480),
					color: '#fff',
					textColor: '#000',
					available: false
				}

				//後臺預約起訖跨多個時段時 前臺顯示並計算出跨幾個已預約時段
				let times = moment.utc(reservation.bufferedEndDate).valueOf()/1000-moment.utc(reservation.bufferedStartDate).valueOf()/1000;
				let numOfSlot = Math.ceil(times/(60*60)); // 60min per slot

				for(let j = 0; j < numOfSlot; j++){
					let nstartT = moment(objEvent.start).add(j, 'hours');

					eventTimes.push(nstartT.format());
					objEvents.push(objEvent);
				}

			});

			//可預約時段（UTC）
			const availableTimespans = [
				"T02:00:00+0000", "T03:00:00+0000", 
				"T05:00:00+0000", "T06:00:00+0000", "T07:00:00+0000", "T08:00:00+0000"];

			//判斷是否可預約，加入可預約時段
			Wednesdays.forEach(function(Wednesday) {
				availableTimespans.forEach(function(Timespan) {
					if ($.inArray((moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan)).utcOffset(480).format(), eventTimes) == -1) {
						objEvent = {
							title: "{{site.data.i18n[lang].available}}",
							start: moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan).utcOffset(480),
							end: moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan).utcOffset(480).add(40, 'minutes'),
							color: '#fff',
							textColor: '#000',
							available: true
						}

						objEvents.push(objEvent);
					}
				});
			});



			//init
			$('#calendar').fullCalendar('destroy');
			$('#calendar').fullCalendar({
				eventRender: function (event, element) {
				
					
					if (event.available) {

						element.find(".fc-title").append("<i class='edit icon ' style='padding-left:10px;'></i>");
						element.addClass("available")
						element.find(".fc-title").addClass("available-bg")
					}
					else if (event.title == '{{site.data.i18n[lang].reserved}}') {
						event.title = '{{site.data.i18n[lang].reserved}}';
						element.find(".fc-title").addClass("NonReserve-bg")
					}
					else {

						element.find(".fc-title").addClass("Reserved-bg")
					}
				},
				eventClick: function (calEvent, jsEvent, view) {

					if (calEvent.available) {
						// disable reserve.
						alert('系統維護中，暫時不開放預約喔!!');
						return;
						$('.ui.modal.reserve').modal('show');
						//$('.ui.form').form('reset');
						$('.ui.error.message').text('');
						$('#selectStart').text(moment(calEvent.start).format("YYYY-MM-DD HH:mm Z"));
						$('#selectEnd').text(moment(calEvent.end).format("YYYY-MM-DD HH:mm Z"));

					}
				},
				// header: {
				//   left: 'prev,next today',
				//   center: 'title',
				//   right: 'month,basicWeek,basicDay'
				// },
				buttonText: {
					today: '{{site.data.i18n[lang].today}}',
					month: '{{site.data.i18n[lang].month}}',
					week: '{{site.data.i18n[lang].week}}',
					day: '{{site.data.i18n[lang].day}}',
					list: '{{site.data.i18n[lang].list}}'
				},
				dayRender: function (date, cell) {
					cell.html("<div class='dayTitle'>" + date.format('M/D') + "</div>");
					var minDate = moment();
					if (date < minDate || date > moment(lastDate)) {
						$(cell).parents('div.fc-row.fc-week.fc-widget-content').css('display', 'none');
						// console.log($(cell).parents('div').find(".fc-row fc-week.fc-widget-content"))
					}
				},
				viewRender: function (currentView) {
					var minDate = moment(),
						maxDate = lastDate; 


					// Past
					if (minDate >= currentView.start && minDate <= currentView.end) {
						$(".fc-prev-button").prop('disabled', true);
						$(".fc-prev-button").addClass('fc-state-disabled');
					}
					else {
						$(".fc-prev-button").removeClass('fc-state-disabled');
						$(".fc-prev-button").prop('disabled', false);
					}
					// Future
					if (maxDate >= currentView.start && maxDate <= currentView.end) {
						$(".fc-next-button").prop('disabled', true);
						$(".fc-next-button").addClass('fc-state-disabled');
					} else {

						$(".fc-next-button").removeClass('fc-state-disabled');
						$(".fc-next-button").prop('disabled', false);
					}

					$(".fc-prev-button").text("{{site.data.i18n[lang].prev}}");
					$(".fc-next-button").text("{{site.data.i18n[lang].next}}");
				},


				monthNames: ['{{site.data.i18n[lang].January}}', '{{site.data.i18n[lang].February}}', '{{site.data.i18n[lang].March}}', '{{site.data.i18n[lang].April}}', '{{site.data.i18n[lang].May}}', '{{site.data.i18n[lang].June}}', '{{site.data.i18n[lang].July}}', '{{site.data.i18n[lang].August}}', '{{site.data.i18n[lang].September}}', '{{site.data.i18n[lang].October}}', '{{site.data.i18n[lang].November}}', '{{site.data.i18n[lang].December}}'],
				dayNamesShort: ['星期日', '星期一', '星期二', '{{site.data.i18n[lang].Wednesday}}', '星期四', '星期五', '星期六'],
				navLinks: false,
				defaultDate: new Date(),
				defaultView: 'month',
				height: 'auto',
				eventLimit: 10,
				eventBackgroundColor: '#074d71',
				timeFormat: 'h:mmt',
				hiddenDays: [1, 2, 4, 5, 6, 0],
				editable: false,
				// eventLimit: true, // allow "more" link when too many events
				validRange: {
					start: new Date()
				},
				events: objEvents
			});

			$('#loading').css("display", "none")
		});
	}



</script>




<div class="ui main container" style="padding-top: 100px;">
	<div class="ui grid">
		<div class=" sixteen wide column">

			<div class="ui  card" style="width: 100%;">
				<div class="content">
					<div class="header">
						<i class="fc-icon-left-double-arrow"></i> {{site.data.i18n[lang].Precautions}}</div>
				</div>
				<div class="content">
					<div class="ui small feed">
						<div class="event">
							<div class="content">
								<div class="summary">
										{{site.data.i18n[lang].Announcement}}

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class=" ten wide column">

		</div>

	</div>
	<div class="ui grid">

		<div class=" sixteen wide column ">
			<div id="calendar" style="font-size: 16px "></div>
		</div>

	</div>
</div>



<div class="ui segment" id="loading" style="position: fixed;
	  height: 100%;
	  width: 100%;
	  top: 0px;
	  z-index: 99;
	  display:none;
	  opacity: 0.6;">
	<div class="ui active dimmer">
		<div class="ui medium text loader">Loading</div>
	</div>
	<p></p>
	<p></p>
</div>

<div class="ui modal reserve">

	<div class="header">
		{{site.data.i18n[lang].VisitInformation}}
		<i class="close icon floatright" style='cursor: pointer;' onclick="$('.ui.modal.reserve').modal('hide');"></i>
	</div>
	<div class="ui form content">
		<div class="content">

			<div class="ui error message"></div>
			<div class="field" style="font-size:18px;font-weight: bold;">
				{{site.data.i18n[lang].VisitHeaderInformation}}
			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].visitTimespan}}</label>

				<span id="selectStart"></span> ～
				<div id="selectEnd"></div>

			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].visitName}}</label>
				<input type="text" id="visitor_name" placeholder="{{site.data.i18n[lang].visitName}}">
			</div>
			<div class="field">
				<label>Email</label>
				<input type="text" id="visitor_email" placeholder="Email">
			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].visitMobile}}</label>
				<input type="text" id="visitor_mobile" placeholder="{{site.data.i18n[lang].visitMobile}}">
			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].visitDept}}</label>
				<input type="text" id="visitor_dept" placeholder="{{site.data.i18n[lang].visitDept}}">
			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].RecordType}}</label>
				<input type="radio" id='radio_record1' name="record" value='錄影'>
				<label style='display: inline-table;' for="radio_record1">{{site.data.i18n[lang].RecordVideo}}</label>
<!--  
				<input type="radio" id='radio_record2' name="record" value='錄音'>
				<label style='display: inline-table;' for="radio_record2">{{site.data.i18n[lang].RecordVoice}}</label>
-->
				<input type="radio" id='radio_record3' name="record" value='逐字稿'>
				<label style='display: inline-table;' for="radio_record3">{{site.data.i18n[lang].RecordText}}</label>

			</div>
			<div class="field">
				<label>{{site.data.i18n[lang].VisitDesc}}</label>
				<textarea rows="3" id="visitor_description"></textarea>
			</div>

			<div class="field floatright">
				<div class="ui clear button">{{site.data.i18n[lang].Clear}}</div>
				<div class="ui positive right labeled icon submit button" onclick="submitbooking()">
						{{site.data.i18n[lang].Submit}}
					<i class="checkmark icon"></i>
				</div>
			</div>
			<div class="field floatright">

				<hr/>
			</div>
		</div>

	</div>
</div>




<script>
	function submitbooking() {
		let videoOption = document.getElementById("radio_record1").checked;
		let transcriptOption = document.getElementById("radio_record3").checked;

		if (confirm('{{site.data.i18n[lang].SubmitCheck}}')) {
			const firstRadio = document.querySelector("#radio_record1").checked;
			const secondRadio = document.querySelector("#radio_record3").checked;
			if((firstRadio | secondRadio) != 1) {
				return 
			}
			if ($('#selectEnd').text() == '' || $('#selectStart').text() == '' || $('#visitor_name').val() == '' || $('#visitor_email').val() == '' || $('#visitor_description').val() == '' || $('#visitor_dept').val() == '') {

			}
			else if(!videoOption && !transcriptOption) {

			}
			else {
				// Request (POST https://aucal.pdis.nat.gov.tw/reserve)
				$('#loading').css("display", "block")
				$('.ui.modal.reserve').modal('hide');
				let url = 'https://aucal.pdis.nat.gov.tw/reserve"';
				jQuery.ajax({
					url: url,
					type: "POST",
					headers: {
						"Content-Type": "application/json; charset=utf-8",
					},
					contentType: "application/json",
					data: JSON.stringify({
						"end": $('#selectEnd').text(),
						"start": $('#selectStart').text(),
						"username": $('#visitor_name').val(),
						"email": $('#visitor_email').val(),
						"mobile": $('#visitor_mobile').val(),
						"description": $('#visitor_description').val() + "  記錄方式：" + ((typeof $("input:radio[name ='record']:checked").val()) === 'undefined' ? '未定' : $("input:radio[name ='record']:checked").val()),
						"department": $('#visitor_dept').val(),
						"name": $('#visitor_name').val() + " {{site.data.i18n[lang].Reserve}}"
					})
				})
					.done(function (response, textStatus, jqXHR) {
						if (response.message=="errors") {
							toastr.error(JSON.parse(response.message), '{{site.data.i18n[lang].SubmitFail}}', { timeOut: 8000 })
						}
						else {
							toastr.info(JSON.parse(response.message), '{{site.data.i18n[lang].SubmitSuccess}}', { timeOut: 8000 })
						}


					})
					.fail(function (jqXHR, textStatus, errorThrown) {
						console.log("HTTP Request Failed");
						toastr.error("{{site.data.i18n[lang].ErrMsg}}", 'Error', { timeOut: 5000 })
					})
					.always(function () {
						/* ... */
						$('#loading').css("display", "block");
						BindData();
					});
			}
		}
		else {
			return;
		}





	}

</script>

<script>


	//validation
	$('.ui.form')
		.form({
			fields: {
				visitor_name: {
					identifier: 'visitor_name',
					rules: [
						{
							type: 'empty',
							prompt: '{{site.data.i18n[lang].NameCheck}}'
						}
					]
				}
				,
				visitor_email: {
					identifier: 'visitor_email',
					rules: [
						{
							type: 'email',
							prompt: '{{site.data.i18n[lang].EmailCheck}}'
						}
					]
				}
				,
				visitor_dept: {
					identifier: 'visitor_dept',
					rules: [
						{
							type: 'empty',
							prompt: '{{site.data.i18n[lang].DeptCheck}}'
						}
					]
				}
				,
				visitor_description: {
					identifier: 'visitor_description',
					rules: [
						{
							type: 'empty',
							prompt: '{{site.data.i18n[lang].DescCheck}}'
						}
					]
				},
				record: {
					identifier: 'record',
					rules: [{
						type: 'checked',
						prompt: '{{site.data.i18n[lang].RecordCheck}}'
					}]
				},
			}
		});




	//取得所有禮拜三
	function getWednesday(monthCount, setfirstDate) {
		var d = new Date(),
			month = d.getMonth(),
			Wednesdays = [];

		d.setDate(setfirstDate);
		// Get the first Wednesday in the month
		while (d.getDay() !== 3) {
			d.setDate(d.getDate() + 1);
		}
		var tmpd = new Date();
		tmpd.setMonth(tmpd.getMonth() + monthCount);
		var endmonth = tmpd.getMonth();

		// Get all the other Wednesday in the month
		while (d.getMonth() !== endmonth) {
			Wednesdays.push(new Date(d.getTime()));
			d.setDate(d.getDate() + 7);
		}
		return Wednesdays;
	}

</script>

<script>
	window.onload = showWarning;
	function showWarning() {
		$('.ui.warning.modal').modal('show');
	}
  </script>


  <div class="ui warning modal">
	<div class="image content">
	  <div class="description">
		<p>
			因應疫情發展，本辦未來將依照疫情指揮中心指引調整拜會形式。<br>
			相關細節將公布於此行事曆:<a target="_blank" href="https://silofficehour.pdis.tw"> silofficehour.pdis.tw</a>
			<br>已預約者將個別通知。
		</p>
	  </div>
	</div>
	<div class="actions">
	  <div class="ui positive right labeled icon button">
		我知道了
	  </div>
	</div>
  </div>

<!-- //mid -->
