<!-- mid -->




<script>
	$(function () {

		BindData();
	});


	function BindData() {
		var objEvents = [];
		$('#loading').css("display", "block")
		//兩天後~四個月
		var Wednesdays = getWednesday(4, new Date(moment().add(2, 'days')).getDate());
		//必須與取得預約事件的結束天數一致
		var bookingEndDay = new Date(moment().add(90, 'days'));
		// set end day to 2021-03-31
// 		var bookingEndDay = new Date("2021-06-01");

		Wednesdays = Wednesdays.filter(function(value, index, arr){ return value <= bookingEndDay;});		
		let lastDate = Wednesdays.slice(-1)[0];
		//取得行程
		let url = "https://aucal.pdis.nat.gov.tw/getReserve";
		var settings = {
			"crossDomain": true,
			"url": url,
			"method": "GET",
		}

		$.ajax(settings).done(function (response) {

			var objBooking = (response);
			var objEvent = {

			};

			var eventTimes = [];

			objBooking.reservations.forEach(function(reservation) {

			
				objEvent = {
					date: moment(reservation.bufferedStartDate).format("YYYY-MM-DD"),
					title: reservation.title=="已預約"?'已預約 Reserved':reservation.title,
					start: moment.utc(reservation.bufferedStartDate).utcOffset(480),
					end: moment.utc(reservation.bufferedEndDate).utcOffset(480),
					color: '#fff',
					textColor: '#000',
					available: false
				}

				//後臺預約起訖跨多個時段時 前臺顯示並計算出跨幾個已預約時段
				let times = moment.utc(reservation.bufferedEndDate).valueOf()/1000-moment.utc(reservation.bufferedStartDate).valueOf()/1000;
				let numOfSlot = Math.ceil(times/(60*60)); // 60min per slot

				for(let j = 0; j < numOfSlot; j++){
					let nstartT = moment(objEvent.start).add(j, 'hours');

					eventTimes.push(nstartT.format());
					objEvents.push(objEvent);
				}

			});

			//可預約時段（UTC）
			const availableTimespans = [
				"T02:00:00+0000", "T03:00:00+0000", 
				"T05:00:00+0000", "T06:00:00+0000", "T07:00:00+0000", "T08:00:00+0000"];

			//判斷是否可預約，加入可預約時段
			Wednesdays.forEach(function(Wednesday) {
				availableTimespans.forEach(function(Timespan) {
					if ($.inArray((moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan)).utcOffset(480).format(), eventTimes) == -1) {
						objEvent = {
							title: "可預約 Available",
							start: moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan).utcOffset(480),
							end: moment.utc(moment(Wednesday).format("YYYY-MM-DD") + Timespan).utcOffset(480).add(40, 'minutes'),
							color: '#fff',
							textColor: '#000',
							available: true
						}
						objEvents.push(objEvent);
					}
				});
			});



			//init
			$('#calendar').fullCalendar('destroy');
			$('#calendar').fullCalendar({
				eventRender: function (event, element) {
				
					
					if (event.available) {

						element.find(".fc-title").append("<i class='edit icon ' style='padding-left:10px;'></i>");
						element.addClass("available")
						element.find(".fc-title").addClass("available-bg")
					}
					else if (event.title == '已預約 Reserved') {
						event.title = '已預約';
						element.find(".fc-title").addClass("NonReserve-bg")
					}
					else {

						element.find(".fc-title").addClass("Reserved-bg")
					}
				},
				eventClick: function (calEvent, jsEvent, view) {

					if (calEvent.available) {
						$('.ui.modal.reserve').modal('show');
						//$('.ui.form').form('reset');
						$('.ui.error.message').text('');
						$('#selectStart').text(moment(calEvent.start).format("YYYY-MM-DD HH:mm Z"));
						$('#selectEnd').text(moment(calEvent.end).format("YYYY-MM-DD HH:mm Z"));

					}
				},
				// header: {
				//   left: 'prev,next today',
				//   center: 'title',
				//   right: 'month,basicWeek,basicDay'
				// },
				buttonText: {
					today: '今天 Today',
					month: '月 Month',
					week: '週 Week',
					day: '日 Day',
					list: '列表 List'
				},
				dayRender: function (date, cell) {
					cell.html("<div class='dayTitle'>" + date.format('M/D') + "</div>");
					var minDate = moment();
					if (date < minDate || date > moment(lastDate)) {
						$(cell).parents('div.fc-row.fc-week.fc-widget-content').css('display', 'none');
						// console.log($(cell).parents('div').find(".fc-row fc-week.fc-widget-content"))
					}
				},
				viewRender: function (currentView) {
					var minDate = moment(),
						maxDate = lastDate; 


					// Past
					if (minDate >= currentView.start && minDate <= currentView.end) {
						$(".fc-prev-button").prop('disabled', true);
						$(".fc-prev-button").addClass('fc-state-disabled');
					}
					else {
						$(".fc-prev-button").removeClass('fc-state-disabled');
						$(".fc-prev-button").prop('disabled', false);
					}
					// Future
					if (maxDate >= currentView.start && maxDate <= currentView.end) {
						$(".fc-next-button").prop('disabled', true);
						$(".fc-next-button").addClass('fc-state-disabled');
					} else {

						$(".fc-next-button").removeClass('fc-state-disabled');
						$(".fc-next-button").prop('disabled', false);
					}

					$(".fc-prev-button").text("往前 Back");
					$(".fc-next-button").text("往後 Next");
				},


				monthNames: ['一月 January ', '二月 February',  '三月 March', '四月 April', '五月 May', '六月 June', '七月 July', '八月 August', '九月 September', '十月 October', '十一月 November', '十二月 December'],
				dayNamesShort: ['星期日 Sunday', '星期一 Monday', '星期二 Tuesday', '星期三 Wednesday', '星期四 Thursday', '星期五 Friday', '星期六 Saturday'],
				navLinks: false,
				defaultDate: new Date(),
				defaultView: 'month',
				height: 'auto',
				eventLimit: 10,
				eventBackgroundColor: '#074d71',
				timeFormat: 'H:mm',
				hiddenDays: [1, 2, 4, 5, 6, 0],
				editable: false,
				// eventLimit: true, // allow "more" link when too many events
				validRange: {
					start: new Date()
				},
				events: objEvents
			});

			$('#loading').css("display", "none")
		});
	}



</script>




<div class="ui main container" style="padding-top: 60px;">
	<div class="ui grid">
		<div class=" sixteen wide column">

			<div class="ui  card" style="width: 100%;">
				<div class="content">
					<div class="header">
						<i class="fc-icon-left-double-arrow"></i> 注意事項</div>
				</div>
				<div class="content">
					<div class="ui small feed">
						<div class="event">
							<div class="content">
								<div class="summary">

										<p>
											本系統提供每週三唐鳳於社會創新實驗中心 office hour 的拜會預約，地址為<font color="grey">台北市大安區仁愛路三段99號</font>
											<br><br>預約開放時段為 10:00-17:00。
											<br>每次拜會以40分鐘為單位。同一單位拜會當日起三個月後方可再預約。
											<br>
											The system provides Digital Minister Audrey Tang’s office hour every Wednesday from 10:00 to 17:00 at Social Innovation Lab <font color="grey">(No. 99, Section 3, Renai Road, Daan District, Taipei City)</font>
											<br>
											Each meeting is 40 minutes in length.You can only make another appointment after three months from the date of the meeting with the same organization.
										</p>
										<p><br>
											為維護拜會品質，唐鳳每週三office hour <font color="red">僅開放「已於社會創新平台登錄完成的社創組織」線上預約</font>，不開放現場拜會。
											<br><br>
											In order to maintain the quality of the meeting, the office hour will only open to <font color="red">"social innovation organizations that have registered on the Social Innovation Platform”</font>, and there is <strong>no more on-site meeting</strong>.
										</p>
										<br>
										<p>
											如欲拜會，敬請向平台送交登錄申請。（僅在網站申請帳號並非登錄完成）
											<br>
											If you wish to attend the meeting, please contact <a href='mailto:sitaiwan@moea.gov.tw'>sitaiwan@moea.gov.tw</a> to finish the registration. ( NOT Sign up an account)
										</p>
										<p>
											<br>
											因行程多有變動，本辦保留調整此行事曆的權利，實際情況以現場情況為準，敬請見諒。
											<br><br>
											Due to changes in the schedule, the office reserves the right to adjust this calendar, the actual situation is subject to the on-site situation.
										<br>
										<p>
											<br>如拜會有任何問題，請來信
											<br>If you have any questions about the office hour, please contact us:
											<a href='mailto:hello@pdis.tw'>hello@pdis.tw</a> 
										</p>
										<br>
										<p>
											本辦拜會原則 Principles for Handling Official Visits to Digital Minister, Audrey Tang: 
											<a target="_blank" href='https://talk.pdis.nat.gov.tw/t/topic/44'>https://talk.pdis.nat.gov.tw/t/topic/44</a>
										</p>
										<p>
											社會創新平台申請登錄 Social innovation platform application: <a target="_blank" href='https://si.taiwan.gov.tw/Home/Org_list'>https://si.taiwan.gov.tw/Home/Org_list/</a>
										</p>
										<p>
											空檔可參見線上行事曆 Online calendar for vacancies:<a target="_blank" href='https://silofficehour.pdis.tw'> https://silofficehour.pdis.tw</a>
										</p>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui grid">

		<div class=" sixteen wide column ">
			<div id="calendar" style="font-size: 16px "></div>
		</div>

	</div>
</div>



<div class="ui segment" id="loading" style="position: fixed;
	  height: 100%;
	  width: 100%;
	  top: 0px;
	  z-index: 99;
	  display:none;
	  opacity: 0.6;">
	<div class="ui active dimmer">
		<div class="ui medium text loader">Loading</div>
	</div>
	<p></p>
	<p></p>
</div>

<div class="ui modal reserve">

	<div class="header">
		拜會資訊
		<i class="close icon floatright" style='cursor: pointer;' onclick="$('.ui.modal.reserve').modal('hide');"></i>
	</div>
	<div class="ui form content">
		<div class="content">
			<div class="ui error message"></div>
			<div class="field" style="font-size:18px;font-weight: bold;">
				為維護拜會品質，唐鳳每週三 office hour<font color="red"> 僅開放「已於社會創新平台登錄完成的社創組織」</font>線上預約，不開放現場拜會。
				In order to maintain the quality of the meeting, the office hour will only open to <font color="red">"social innovation organizations that have registered on the Social Innovation Platform”</font>, and there is <strong>no more on-site meeting</strong>.
				<br>
				<br>
				如欲拜會的單位，敬請先至平台登錄。<strong>同一單位拜會當日起三個月後方可再預約</strong>。
				If you wish to attend the meeting, please make sure your organization is already registered on the platform. You can only make another appointment after three months from the date of the meeting with the same organization. 
			</div>
			<div class="field">
				<label>預約時段 Time</label>
				<span id="selectStart"></span> ～
				<div id="selectEnd"></div>
			</div>
	
			<!-- <div class="field">
				<label>拜會單位名稱 department of visitor</label>
				<input type="text" id="visitor_dept" placeholder="拜會單位名稱 department of visitor">
			</div> -->
			<div class="field">
				<label>單位統編 TaxID（用於驗證預約單位-8位數字）</label>
				<input type="number" maxlength="8" max="8" min="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="visitor_tax_id" placeholder="單位統編 TaxID">
				<button onclick="checkTaxId()">驗證 Verify</button>
			</div>
			<div class="field">
				<label>單位資訊 Visitor Department（輸入單位統編後，請按下驗證按鈕）</label>
				<input type="text" disabled id="visitor_info" placeholder="">
			</div>
			<div class="field">
				<label>拜會人姓名 Name</label>
				<input type="text" id="visitor_name" placeholder="拜會人姓名">
			</div>
			<div class="field">
				<label>電子信箱 Email</label>
				<input type="text" id="visitor_email" placeholder="電子信箱 Email">
			</div>
			<div class="field">
				<label>聯絡電話 Phone Number</label>
				<input type="text" id="visitor_mobile" placeholder="聯絡電話 Phone Number">
			</div>
			<div class="field">
				<label>紀錄方式 Record type</label>
				<input type="radio" id='radio_record1' name="record" value='錄影'>
				<label style='display: inline-table;' for="radio_record1">錄影 Record Video</label>

				<input type="radio" id='radio_record3' name="record" value='逐字稿'>
				<label style='display: inline-table;' for="radio_record3">逐字稿 Transcript</label>
			</div>
			<div class="field">
				<label>拜會內容說明 Meeting Notes</label>
				<textarea rows="4" id="visitor_description" placeholder="拜會內容說明 Meeting Notes"></textarea>
			</div>
			<div class="field">
			<label>請詳閱本辦拜會及紀錄公開原則 Visitor Rules: <a href='https://talk.pdis.nat.gov.tw/t/topic/44' target="_blank">https://talk.pdis.nat.gov.tw/t/topic/44</a>
			</label>
			<label>
				拜會紀錄如為逐字紀錄，採<font color="red">「公眾領域貢獻宣告 」（CC0 ） 開放授權</font>；如為影音紀錄採<font color="red">「CC BY 姓名標示 <img src='images/cc.png'></img> 」開放授權。</font>
				<br>
				Verbatim transcripts shall be published into the public domain <font color="red">(CC0)</font>; audio and visual recordings shall be published under <font color="red">the Creative Commons Attribution 1 license</font>.
			</label>
			<label>
			<br>
			<input type="radio" id='radio_agree' name="agree" value='agree'>
			我已詳閱並同意此原則 I agree.
			</label>
		</div>
			<div class="field floatright">
				<div class="ui clear button" onclick="cancelBooking()">取消 Cancel</div>
				<div class="ui positive right labeled icon submit button" onclick="submitBooking()">
						送出 Submit
					<i class="checkmark icon"></i>
				</div>
			</div>
			<div class="field floatright">

				<hr/>
			</div>
		</div>

	</div>
</div>




<script>
	function checkTaxId(callback) {
		// Make a request for a user with a given ID

		var taxID = $('#visitor_tax_id').val();
		if(taxID == '') {
			alert("TaxId 統編不能為空值。Missing TaxId");
			return;
		}else if(/\d{8}/.test(taxID)==false) {
			alert("TaxId,統編應為8位數字。TaxId is 8 digit number.");
			return;
		}
		let url = `https://si.taiwan.gov.tw/api/orgs/data/${taxID}`;
		axios.get(url)
		.then(function (response) {
			// handle success
			let info = response.data;
			if(info.status == true) {
				// can find by taxId
				let json = info.data;
				if(json.status=="已公開" || json.status=="已隱藏"){
					// 已公開／已隱藏／已下架
					let visitorInfo = `單位名稱: ${json.name}\t負責人: ${json.principal}\t組織狀態: ${json.status}`;
					$('#visitor_info').val(visitorInfo);
					if(callback==undefined) {
						$('#visitor_name').val(json.principal);
						$('#visitor_mobile').val(json.phone);
						$('#visitor_email').val(json.email);
						alert('已自動代入預約者資料，送出前請確認。Please check information before you submit your reservation.');
					}else {
						callback(json);
					}
				}else {
					// 已下架
					alert(`目前社會企業狀態是已下架，無法預約。The Department unlisted. You can't reserve`);
					callback(null);
				}
			}else {
				// can't find by taxId
				$('#visitor_info').val('');
				alert('統編驗證錯誤');
				if(callback!=undefined) {
					callback(null);
				}
			}
		})
		.catch(function (error) {
			// handle error
			console.log(error);
		})
		.then(function () {
			// always executed
		});
	}
	function clearAllInput() {
		$('.content').find('input').val('');
		$('.content').find('textarea').val('');
	}
	function submitBooking() {
		let videoOption = document.getElementById("radio_record1").checked;
		let transcriptOption = document.getElementById("radio_record3").checked;



		checkTaxId( groupInfo => {
			if(groupInfo==undefined) {
				return;
			}
			let isAgreeRule = document.querySelector('#radio_agree').checked;
			if(!isAgreeRule) {
				alert('請詳閱本辦拜會及紀錄公開原則： 並勾選同意。\nCheck reservation rules and choose Agree.');
				return;
			}
			const firstRadio = document.querySelector("#radio_record1").checked;
			const secondRadio = document.querySelector("#radio_record3").checked;
			if((firstRadio | secondRadio) != 1) {
				return 
			}
			if ($('#selectEnd').text() == '' || $('#selectStart').text() == '' || $('#visitor_name').val() == '' || $('#visitor_email').val() == '' || $('#visitor_description').val() == '' || $('#visitor_dept').val() == '') {
				return;
			}
			else if(!videoOption && !transcriptOption) {
				return;
			}

			if (confirm(`送出後將無法再次更改，確定要送出表單嗎?\nYou can't change your reservation later. Do you want to submit your reservation ?`)) {
		
				let url = 'https://aucal.pdis.nat.gov.tw/reserve';
				let description = $('#visitor_description').val() + "  記錄方式：" + ((typeof $("input:radio[name ='record']:checked").val()) === 'undefined' ? '未定' : $("input:radio[name ='record']:checked").val());
				description = description + ` \n\n單位名稱: ${groupInfo.name}, 負責人: ${groupInfo.principal}, 狀態: ${groupInfo.status}\nhttps://si.taiwan.gov.tw/Home/Org?Fid=${groupInfo.fid} 統編:${groupInfo.taxId}`
				let postData = {
						"end": $('#selectEnd').text(),
						"start": $('#selectStart').text(),
						"username": $('#visitor_name').val(),
						"email": $('#visitor_email').val(),
						"mobile": $('#visitor_mobile').val(),
						"description": description,
						"department": groupInfo.name,
						"name": $('#visitor_name').val() + " 預約",
						"taxId": groupInfo.taxId,
						"needTaxId": true
				};

				$('#loading').css("display", "block")
				$('.ui.modal.reserve').modal('hide');

				axios({
					method: 'post',
					url: url,
					data: postData
				}).then(function (response) {
					// success
					let responseObj = response.data;
					if (responseObj.message=="errors") {
							toastr.error(responseObj.message, '預約失敗 Fail', { timeOut: 8000 })
					}else if(String(responseObj.message).includes('無法預約，90天內已有預約紀錄')) {
						alert(responseObj.message);
					}
					else {
						toastr.info(responseObj.message, '送出完成 Submit Success', { timeOut: 8000 })
						clearAllInput();
					}
				})
				.catch(function (error) {
					console.log(error);
					console.log("HTTP Request Failed");
					toastr.error("伺服器忙碌中請再試一次! Request Failed. Please check again.", 'Error', { timeOut: 5000 })
				})
				.then(function () {
					// always executed
					$('#loading').css("display", "block");
					BindData();
				});  
			
			} // end confirm('送出後將無法再次更改，確定要送出表單嗎?') 

		}); // checkTaxId Callback

	}
	function cancelBooking() {
		$('.ui.modal.reserve').modal('hide');
		clearAllInput();
	}

</script>

<script>


	//validation
	$('.ui.form')
		.form({
			fields: {
				visitor_name: {
					identifier: 'visitor_name',
					rules: [
						{
							type: 'empty',
							prompt: '請輸入姓名 Missing name'
						}
					]
				}
				,
				visitor_email: {
					identifier: 'visitor_email',
					rules: [
						{
							type: 'email',
							prompt: '請輸入正確的信箱 Invalid email'
						}
					]
				}
				,
				visitor_dept: {
					identifier: 'visitor_dept',
					rules: [
						{
							type: 'empty',
							prompt: '請輸入拜會者的單位 Missing visitor depart'
						}
					]
				}
				,
				visitor_description: {
					identifier: 'visitor_description',
					rules: [
						{
							type: 'empty',
							prompt: '請輸入拜會內容說明 Missing meeting notes'
						}
					]
				},
				record: {
					identifier: 'record',
					rules: [{
						type: 'checked',
						prompt: '請選擇記錄方式 Choose record type'
					}]
				},
			}
		});




	//取得所有禮拜三
	function getWednesday(monthCount, setfirstDate) {
		var d = new Date(),
			month = d.getMonth(),
			Wednesdays = [];

		d.setDate(setfirstDate);
		// Get the first Wednesday in the month
		while (d.getDay() !== 3) {
			d.setDate(d.getDate() + 1);
		}
		var tmpd = new Date();
		tmpd.setMonth(tmpd.getMonth() + monthCount);
		var endmonth = tmpd.getMonth();

		// Get all the other Wednesday in the month
		while (d.getMonth() !== endmonth) {
			Wednesdays.push(new Date(d.getTime()));
			d.setDate(d.getDate() + 7);
		}
		return Wednesdays;
	}

</script>

<script>
	window.onload = showWarning;
	function showWarning() {
		$('.ui.warning.modal').modal('show');
	}
  </script>


  <div class="ui warning modal">
	<div class="image content">
	  <div class="">
		<p>
			因應疫情發展，本辦未來將依照疫情指揮中心指引調整拜會形式。<br>
			相關細節將公布於此行事曆：<a target="_blank" href="https://silofficehour.pdis.tw">silofficehour.pdis.tw</a>
			<br>已預約者將個別通知。
			<br><br>
			In light of the development of the epidemic, the Digital Minister Office will adjust the format of the meeting in accordance with the guidelines of the Central Epidemic Command Center.<br>
			Relevant details will be posted on this calendar: <a target="_blank" href="https://silofficehour.pdis.tw">silofficehour.pdis.tw</a>
			<br>Those who have made reservations will be notified individually.
		</p>
	  </div>
	</div>
	<div class="actions">
	  <div class="ui positive right labeled icon button">
		關閉 Close
	  </div>
	</div>
  </div>

<!-- //mid -->
